/* universal styles */

html {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  color: AquaMarine;
}

.container {
  display: flex;
  width: 960px;
  margin: 0 auto;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

/* other styles */

header {
  background-color: black;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

header img {
  height: 1.5rem;
}

header h4 {
  padding: 0.66rem;
}


.banner {
  background-image: url("../images/moto.jpeg");
  background-size: cover;
  height: 25rem;
}

.banner-box {
  background-color: black;
  width: 20rem;
  padding: 2rem 3rem;
  margin-top: 9rem;
}

.banner-box h1 {

}

.nav-bar {
  background-color: firebrick;
  display: flex;
  width: 100%;
}

.nav {
  display:flex;
  justify-content: space-between;
}

.nav span {
  margin: 0.75rem;
}
